<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="xigen" translate="label" sortOrder="500">
			<label>Xigen</label>
		</tab>
		<section id="debugger" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Debugger</label>
			<tab>xigen</tab>
			<resource>Xigen_Debugger::config_xigen_debugger</resource>
			<group id="toolbar" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Toolbar</label>
				<field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="paramater" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Parameter</label>
					<comment>Toggle with ?debugger=[parameter value]</comment>
				</field>
			</group>
		</section>
	</system>
</config>
